#heading {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #cccccc87;
    padding: 15px;
}
.menu-item {
      border: 1px solid #ddd;
      padding: 20px;
      margin-bottom: 20px;
      background-color: #D3D3D3;
      border-radius: 5px;
      height: 700PX;
    }

    /* Hide navbar on sm (tablet) and md (desktop) */
    @media (min-width: 768px) {
      .mobile-only-navbar {
        display: none;
      }
    }

    .navbar-collapse {
      background-color: rgba(255, 255, 255, 0.482);
    }

    .navbar-nav > li {
      text-align: center;
      border-bottom: none;
    }

    .navbar-nav > li > a {
      font-weight: bold;
    }
